*.o
*.a
*a.out*
cpp-module-00/ex00/megaphone
cpp-module-00/ex01/phonebook
cpp-module-01/ex07/replace
cpp-module-01/ex10/cato9tails
cpp-module-06/ex00/convert
cpp-module-06/ex01/serialize
cpp-module-06/ex02/identify
cpp-module-07/ex00/whatever
cpp-module-07/ex01/iter
cpp-module-07/ex02/array
